<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034003209586-ikpjdd7hpgn5o2ncqik6idbpgpf8n8ag.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034003209586-ikpjdd7hpgn5o2ncqik6idbpgpf8n8ag</string>
	<key>API_KEY</key>
	<string>AIzaSyDz6FR4ynJeKCfCJrtHE7OAKdvu6DerZyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1034003209586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutter18Firebase</string>
	<key>PROJECT_ID</key>
	<string>flutter18firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter18firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034003209586:ios:52187d07a522030bb411eb</string>
</dict>
</plist>